In [1]:
# Hybrid Recommender Systems 
### Content Boosted Collaborative Filtering using Item Item Similarity and SUpervised learning

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
ratings = pd.read_csv('ratings.csv')

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
ratings.shape

(100004, 4)

In [6]:
movies = pd.read_csv('movies.csv')

In [7]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
movies.shape

(9125, 3)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
trainDF, tempDF = train_test_split(ratings, test_size=0.2, random_state=100)
testDF = tempDF.copy()
tempDF.rating = np.nan

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [11]:
tempDF.head()

       userId  movieId  rating   timestamp
18935     126       95     NaN   833286594
53160     384    55282     NaN  1214773174
69828     481    61323     NaN  1437001971
31345     225      367     NaN   845565857
85744     575     1269     NaN  1012595493

In [12]:
tempDF

       userId  movieId  rating   timestamp
18935     126       95     NaN   833286594
53160     384    55282     NaN  1214773174
69828     481    61323     NaN  1437001971
31345     225      367     NaN   845565857
85744     575     1269     NaN  1012595493
74526     518     2119     NaN   945367279
87873     585      940     NaN   975365053
1406       15     2108     NaN  1058250482
38887     285      407     NaN   965091466
64228     461      783     NaN  1091049691
7970       49     3247     NaN   978039301
96469     646     1064     NaN   953450852
77535     537      265     NaN   879502404
69846     481    71755     NaN  1437006499
2718       17      482     NaN  1127475344
45596     324    77561     NaN  1451528601
24650     177     1376     NaN   907380544
92387     612    40278     NaN  1455642979
63085     457     1091     NaN  1471386494
73627     514      596     NaN   853894362
75561     524    71810     NaN  1256287730
52827     384     2403     NaN  1153762465
13728      88     8636     NaN  1239772533
97271     652     5229     NaN  1442083277
50756     373     2617     NaN   938978887
3464       19     1274     NaN   855192636
42519     306      480     NaN   939715919
15416     102      541     NaN   956590911
24032     171     2599     NaN   950556705
10059      72     2571     NaN  1461778692
...       ...      ...     ...         ...
53916     388     1466     NaN   946522725
85071     571    50923     NaN  1334343924
89592     596     3033     NaN  1138732561
8325       56     1201     NaN  1467006449
44363     312       50     NaN   959937256
97952     654     5218     NaN  1145393029
58797     427     3181     NaN   968563534
58623     426    48518     NaN  1323087437
6772       39       22     NaN   832523361
45276     320     2010     NaN  1424366898
16397     105     1552     NaN  1085581486
94185     624     4167     NaN  1036612424
96600     647      229     NaN   947292753
96842     648     4262     NaN  1138999404
43313     310      673     NaN  1414188061
25800     188      480     NaN   841063586
57074     412     1769     NaN   993089991
89444     596     1092     NaN  1139307571
32824     236     7209     NaN  1109967756
38522     282     1876     NaN  1111493045
82358     561     7324     NaN  1172736335
85034     571     1608     NaN  1334343175
99987     671     5349     NaN  1065111863
94423     624     6798     NaN  1064153909
52537     382    34336     NaN  1371780362
67651     472     2344     NaN   939691768
61329     450     5291     NaN  1449349694
72967     509     3763     NaN  1093295712
31383     226    49278     NaN  1243763896
55587     402     5378     NaN  1443394407

[20001 rows x 4 columns]

In [13]:
testDF = testDF.dropna()
testDF.head()

       userId  movieId  rating   timestamp
18935     126       95     3.0   833286594
53160     384    55282     4.0  1214773174
69828     481    61323     4.0  1437001971
31345     225      367     5.0   845565857
85744     575     1269     4.0  1012595493

In [14]:
ratings = pd.concat([trainDF, tempDF]).reset_index()

In [15]:
ratings

        index  userId  movieId  rating   timestamp
0       15656     102     1717     4.0   957980283
1       63605     457    64839     4.5  1471384474
2       73657     514      880     1.0   853893138
3       95366     626     1983     4.0   974778174
4       11767      73   113573     3.0  1457597407
5       79509     547     4557     1.0  1021196447
6       27453     200     1088     1.0  1438020434
7       39071     285     1968     3.0   965088034
8       90731     603        2     4.0   868355874
9       31121     222      900     5.0   960919866
10      63787     459      653     4.0   859210761
11      97058     649      474     5.0   834425160
12      59649     431     2011     4.0  1136308690
13      13645      88     2396     4.5  1239764344
14       1506      15     2700     3.0  1033344958
15      46983     345     1721     2.0  1106949288
16       7525      48     7254     4.0  1319744413
17      40442     294     2042     3.5  1062620067
18      53535     387     1938     5.0   974683179
19       4023      23      110     3.5  1148669588
20      72292     509       16     4.0   939342432
21       1612      15     3265     4.0  1345397753
22      20790     142     4679     3.0   999350539
23      52293     381     3462     5.0  1018682378
24       2111      15     8807     2.5  1349622634
25      91451     607      597     3.0  1144791081
26      55026     394    27879     0.5  1297603761
27       1449      15     2357     3.0   997938834
28      84792     568      344     3.0   835002219
29       9803      68     5995     1.5  1249807943
...       ...     ...      ...     ...         ...
99974   53916     388     1466     NaN   946522725
99975   85071     571    50923     NaN  1334343924
99976   89592     596     3033     NaN  1138732561
99977    8325      56     1201     NaN  1467006449
99978   44363     312       50     NaN   959937256
99979   97952     654     5218     NaN  1145393029
99980   58797     427     3181     NaN   968563534
99981   58623     426    48518     NaN  1323087437
99982    6772      39       22     NaN   832523361
99983   45276     320     2010     NaN  1424366898
99984   16397     105     1552     NaN  1085581486
99985   94185     624     4167     NaN  1036612424
99986   96600     647      229     NaN   947292753
99987   96842     648     4262     NaN  1138999404
99988   43313     310      673     NaN  1414188061
99989   25800     188      480     NaN   841063586
99990   57074     412     1769     NaN   993089991
99991   89444     596     1092     NaN  1139307571
99992   32824     236     7209     NaN  1109967756
99993   38522     282     1876     NaN  1111493045
99994   82358     561     7324     NaN  1172736335
99995   85034     571     1608     NaN  1334343175
99996   99987     671     5349     NaN  1065111863
99997   94423     624     6798     NaN  1064153909
99998   52537     382    34336     NaN  1371780362
99999   67651     472     2344     NaN   939691768
100000  61329     450     5291     NaN  1449349694
100001  72967     509     3763     NaN  1093295712
100002  31383     226    49278     NaN  1243763896
100003  55587     402     5378     NaN  1443394407

[100004 rows x 5 columns]

In [16]:
ratings.head()

   index  userId  movieId  rating   timestamp
0  15656     102     1717     4.0   957980283
1  63605     457    64839     4.5  1471384474
2  73657     514      880     1.0   853893138
3  95366     626     1983     4.0   974778174
4  11767      73   113573     3.0  1457597407

In [17]:
ratings.shape

(100004, 5)

## Matrix Factorization via Singular Value Decomposition

In [18]:
# We want the format of ratings matrix to be one row per user and one column per movie. 
#we can pivot ratings_df to get that and call the new variable R_df.
R_df = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
R_df.head

<bound method NDFrame.head of movieId  1       2       3       4       5       6       7       8       \
userId
1           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
5           0.0     0.0     4.0     0.0     0.0     0.0     0.0     0.0
6           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
7           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
8           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
9           4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
10          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
11          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
12          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
13          5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
14          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
15          0.0     2.0     0.0     0.0     4.5     4.0     0.0     0.0
16          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
17          0.0     0.0     0.0     0.0     0.0     4.5     0.0     0.0
18          0.0     0.0     0.0     0.0     3.0     0.0     0.0     0.0
19          3.0     3.0     3.0     0.0     0.0     3.0     3.0     0.0
20          3.5     0.0     0.0     0.0     0.0     0.0     0.0     0.0
21          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
22          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
23          3.0     0.0     0.0     0.0     0.0     3.5     0.0     0.0
24          0.0     0.0     0.0     0.0     0.0     5.0     0.0     0.0
25          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
26          5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
27          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
28          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
29          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
30          0.0     2.0     0.0     0.0     0.0     0.0     0.0     4.0
...         ...     ...     ...     ...     ...     ...     ...     ...
642         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
643         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
644         0.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0
645         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
646         5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
647         4.0     0.0     0.0     0.0     0.0     4.0     0.0     0.0
648         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
649         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
650         0.0     0.0     3.0     1.0     3.0     0.0     0.0     0.0
651         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
652         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
653         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
654         5.0     3.0     0.0     0.0     4.0     0.0     0.0     0.0
655         0.0     4.0     0.0     0.0     0.0     0.0     0.0     0.0
656         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
657         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
658         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
659         0.0     0.0     0.0     0.0     0.0     3.0     0.0     0.0
660         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
661         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
662         0.0     5.0     0.0     0.0     0.0     0.0     0.0     0.0
663         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
664         3.5     0.0     0.0     0.0     0.0     4.0     0.0     0.0
665         0.0     3.0     3.0     0.0     3.0     0.0     0.0     0.0
666         0.0     0.0     0.0     0.0     0.0     5.0     0.0     0.0
667         0.0     0.0     0.0     0.0     0.0     4.0     0.0     0.0
668         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
669         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
670         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
671         5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

movieId  9       10       ...    161084  161155  161594  161830  161918  \
userId                    ...
1           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
2           0.0     4.0   ...       0.0     0.0     0.0     0.0     0.0
3           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
4           0.0     4.0   ...       0.0     0.0     0.0     0.0     0.0
5           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
6           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
7           0.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
8           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
9           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
10          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
11          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
12          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
13          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
14          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
15          0.0     3.0   ...       0.0     0.5     0.0     0.0     0.0
16          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
17          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
18          3.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
19          3.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
20          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
21          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
22          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
23          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
24          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
25          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
26          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
27          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
28          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
29          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
30          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
...         ...     ...   ...       ...     ...     ...     ...     ...
642         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
643         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
644         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
645         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
646         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
647         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
648         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
649         0.0     5.0   ...       0.0     0.0     0.0     0.0     0.0
650         0.0     4.0   ...       0.0     0.0     0.0     0.0     0.0
651         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
652         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
653         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
654         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
655         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
656         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
657         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
658         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
659         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
660         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
661         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
662         0.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
663         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
664         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
665         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
666         0.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
667         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
668         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
669         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
670         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
671         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0

movieId  161944  162376  162542  162672  163949
userId
1           0.0     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0     0.0
5           0.0     0.0     0.0     0.0     0.0
6           0.0     0.0     0.0     0.0     0.0
7           0.0     0.0     0.0     0.0     0.0
8           0.0     0.0     0.0     0.0     0.0
9           0.0     0.0     0.0     0.0     0.0
10          0.0     0.0     0.0     0.0     0.0
11          0.0     0.0     0.0     0.0     0.0
12          0.0     0.0     0.0     0.0     0.0
13          0.0     0.0     0.0     0.0     0.0
14          0.0     0.0     0.0     0.0     0.0
15          0.0     0.0     0.0     0.0     0.0
16          0.0     0.0     0.0     0.0     0.0
17          0.0     0.0     0.0     0.0     0.0
18          0.0     0.0     0.0     0.0     0.0
19          0.0     0.0     0.0     0.0     0.0
20          0.0     0.0     0.0     0.0     0.0
21          0.0     0.0     0.0     0.0     0.0
22          0.0     0.0     0.0     0.0     0.0
23          0.0     0.0     0.0     0.0     0.0
24          0.0     0.0     0.0     0.0     0.0
25          0.0     0.0     0.0     0.0     0.0
26          0.0     0.0     0.0     0.0     0.0
27          0.0     0.0     0.0     0.0     0.0
28          0.0     0.0     0.0     0.0     0.0
29          0.0     0.0     0.0     0.0     0.0
30          0.0     0.0     0.0     0.0     0.0
...         ...     ...     ...     ...     ...
642         0.0     0.0     0.0     0.0     0.0
643         0.0     0.0     0.0     0.0     0.0
644         0.0     0.0     0.0     0.0     0.0
645         0.0     0.0     0.0     0.0     0.0
646         0.0     0.0     0.0     0.0     0.0
647         0.0     0.0     0.0     0.0     0.0
648         0.0     0.0     0.0     0.0     0.0
649         0.0     0.0     0.0     0.0     0.0
650         0.0     0.0     0.0     0.0     0.0
651         0.0     0.0     0.0     0.0     0.0
652         0.0     0.0     0.0     0.0     0.0
653         0.0     0.0     0.0     0.0     0.0
654         0.0     0.0     0.0     0.0     0.0
655         0.0     0.0     0.0     0.0     0.0
656         0.0     0.0     0.0     0.0     0.0
657         0.0     0.0     0.0     0.0     0.0
658         0.0     0.0     0.0     0.0     0.0
659         0.0     0.0     0.0     0.0     0.0
660         0.0     0.0     0.0     0.0     0.0
661         0.0     0.0     0.0     0.0     0.0
662         0.0     0.0     0.0     0.0     0.0
663         0.0     0.0     0.0     0.0     0.0
664         0.0     0.0     0.0     0.0     0.0
665         0.0     0.0     0.0     0.0     0.0
666         0.0     0.0     0.0     0.0     0.0
667         0.0     0.0     0.0     0.0     0.0
668         0.0     0.0     0.0     0.0     0.0
669         0.0     0.0     0.0     0.0     0.0
670         0.0     0.0     0.0     0.0     0.0
671         0.0     0.0     0.0     0.0     0.0

[671 rows x 9066 columns]>

In [19]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_df, k = 50)

In [20]:
#diag
sigma = np.diag(sigma)

In [21]:
#I also need to add the user means back to get the predicted 5-star ratings
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) 
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)

In [22]:
preds_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
0,-0.122993,0.038639,0.037181,-0.003138,-0.006465,0.017602,0.039557,0.003053,0.012745,0.009584,...,-0.000184,-0.002030,0.019078,-0.001043,-0.001565,-0.008588,0.028617,0.0,0.0,-0.000367
1,0.760470,1.181292,-0.126992,0.026546,0.212633,0.146260,-0.015018,0.061514,-0.080650,2.020296,...,0.004404,0.001750,0.006564,-0.004064,-0.006096,-0.063430,0.009845,0.0,0.0,0.008807
2,0.623665,0.131240,0.009892,0.010293,0.179465,0.036324,0.036505,0.063805,-0.031090,0.001071,...,0.000846,-0.002390,0.011772,0.000766,0.001148,-0.003026,0.017658,0.0,0.0,0.001692
3,0.763973,1.041922,-0.540214,-0.009712,0.000124,-1.131016,-0.451100,-0.113280,-0.245913,1.882466,...,-0.003343,0.002289,0.048446,0.022485,0.033728,0.121327,0.072668,0.0,0.0,-0.006685
4,1.679380,1.252049,0.596602,0.027421,0.635470,0.391281,0.175542,0.024540,-0.052979,0.508043,...,0.007924,-0.003023,0.001158,-0.000388,-0.000581,0.025664,0.001737,0.0,0.0,0.015847

In [23]:
sigma

array([[ 63.25113225,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,  63.82679527,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        ,  64.22443521, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 168.74567012,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        198.81124125,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 415.58850449]])

In [24]:
# return the movies with the highest predicted rating that the specified user hasn’t already rated
#Take specific user row from matrix from predictions
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = predictions_df.iloc[user_row_number].sort_values(ascending=False)
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.userId == (userID)]
    #Added title and genres
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )

    print ('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print ('Recommending the highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['movieId'].isin(user_full['movieId'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'movieId',
               right_on = 'movieId').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations, sorted_user_predictions, user_data, user_full

already_rated, predictions, sorted_user_predictions, user_data, user_full = recommend_movies(preds_df, 5, movies, ratings, 10)

User 5 has already rated 100 movies.
Recommending the highest 10 predicted ratings movies not already rated.

In [25]:
already_rated.head()

,index,userId,movieId,rating,timestamp,title,genres
38,379,5,1380,5.0,1163373044,Grease (1978),Comedy|Musical|Romance
31,368,5,597,5.0,1163373711,Pretty Woman (1990),Comedy|Romance
1,392,5,2081,5.0,1163373109,"Little Mermaid, The (1989)",Animation|Children|Comedy|Musical|Romance
13,443,5,33166,5.0,1163374211,Crash (2004),Crime|Drama
47,438,5,8636,4.5,1163373593,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX

In [26]:
predictions

,movieId,title,genres
1221,1580,Men in Black (a.k.a. MIB) (1997),Action|Comedy|Sci-Fi
31,34,Babe (1995),Children|Drama
5537,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4340,5989,Catch Me If You Can (2002),Crime|Drama
1861,2396,Shakespeare in Love (1998),Comedy|Drama|Romance
5308,8360,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Ro...
3316,4246,Bridget Jones's Diary (2001),Comedy|Drama|Romance
469,539,Sleepless in Seattle (1993),Comedy|Drama|Romance
414,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller

In [27]:
user_data

       index  userId  movieId  rating   timestamp
1288     376       5     1221     2.5  1163374239
2296     392       5     2081     5.0  1163373109
5690     373       5     1022     4.0  1163373316
5898     423       5     5349     4.5  1163373606
10938    396       5     2424     4.0  1163373193
11077    364       5      500     4.5  1163373718
12437    369       5      788     3.5  1163374993
13135    445       5    34162     4.5  1163374227
14473    353       5      104     4.0  1163374639
14809    441       5    30749     4.5  1163374702
14876    440       5    30707     4.5  1163374340
17007    433       5     6711     2.5  1163373238
18419    444       5    33679     4.0  1163374517
18422    443       5    33166     5.0  1163374211
19934    383       5     1682     4.0  1163374214
21365    403       5     2918     3.5  1163374278
22584    401       5     2762     3.5  1163373743
22608    450       5    48385     4.5  1163374357
23268    362       5      377     4.0  1163373610
24919    354       5      141     4.0  1163374242
25515    372       5      919     4.0  1163374286
26391    426       5     5679     4.5  1163374389
27012    380       5     1393     3.5  1163374165
28185    397       5     2502     3.5  1163374290
28476    409       5     3897     4.5  1163374235
29049    430       5     6373     4.0  1163374572
29791    405       5     3114     3.5  1163374263
32300    398       5     2683     4.0  1163373679
32814    356       5      231     3.5  1163373762
33488    367       5      595     4.0  1163374190
...      ...     ...      ...     ...         ...
73602    365       5      586     4.0  1163374392
73743    389       5     1968     4.0  1163374324
75275    442       5    30793     3.5  1163374177
76432    406       5     3176     3.5  1163374408
77232    415       5     4306     3.5  1163374103
78467    404       5     2997     3.5  1163374127
78548    377       5     1247     4.0  1163374582
79113    422       5     5299     4.5  1163373299
79880    429       5     6218     3.5  1163374491
81075    436       5     8464     NaN  1163374381
81149    428       5     5995     NaN  1163374533
81255    374       5     1035     NaN  1163373103
81921    417       5     4447     NaN  1163375033
82900    425       5     5669     NaN  1163374206
82980    375       5     1193     NaN  1163374173
83069    411       5     4014     NaN  1163373273
83222    414       5     4025     NaN  1163375145
85344    412       5     4018     NaN  1163375025
86273    388       5     1961     NaN  1163373675
86901    390       5     1997     NaN  1163374593
87814    400       5     2706     NaN  1163374246
90758    435       5     8376     NaN  1163374742
90855    363       5      440     NaN  1163374477
91308    357       5      277     NaN  1163373208
93800    448       5    41566     NaN  1163374144
93941    381       5     1485     NaN  1163374608
97281    419       5     4963     NaN  1163373548
97389    432       5     6502     NaN  1163374455
98879    393       5     2273     NaN  1163373276
99113    355       5      150     NaN  1163374404

[100 rows x 5 columns]

In [28]:
user_full

,index,userId,movieId,rating,timestamp,title,genres
38,379,5,1380,5.0,1163373044,Grease (1978),Comedy|Musical|Romance
31,368,5,597,5.0,1163373711,Pretty Woman (1990),Comedy|Romance
1,392,5,2081,5.0,1163373109,"Little Mermaid, The (1989)",Animation|Children|Comedy|Musical|Romance
13,443,5,33166,5.0,1163374211,Crash (2004),Crime|Drama
47,438,5,8636,4.5,1163373593,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX
64,386,5,1784,4.5,1163374251,As Good as It Gets (1997),Comedy|Drama|Romance
66,387,5,1923,4.5,1163373726,There's Something About Mary (1998),Comedy|Romance
46,399,5,2694,4.5,1163373293,Big Daddy (1999),Comedy
17,450,5,48385,4.5,1163374357,Borat: Cultural Learnings of America for Make ...,Comedy
24,409,5,3897,4.5,1163374235,Almost Famous (2000),Drama
40,447,5,40819,4.5,1163374283,Walk the Line (2005),Drama|Musical|Romance
21,426,5,5679,4.5,1163374389,"Ring, The (2002)",Horror|Mystery|Thriller
10,440,5,30707,4.5,1163374340,Million Dollar Baby (2004),Drama
9,441,5,30749,4.5,1163374702,Hotel Rwanda (2004),Drama|War
36,420,5,4995,4.5,1163373616,"Beautiful Mind, A (2001)",Drama|Romance
7,445,5,34162,4.5,1163374227,Wedding Crashers (2005),Comedy|Romance
77,422,5,5299,4.5,1163373299,My Big Fat Greek Wedding (2002),Comedy|Romance
5,364,5,500,4.5,1163373718,Mrs. Doubtfire (1993),Comedy|Drama
3,423,5,5349,4.5,1163373606,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller
43,351,5,3,4.0,1163374957,Grumpier Old Men (1995),Comedy|Romance
67,449,5,41569,4.0,1163374167,King Kong (2005),Action|Adventure|Drama|Fantasy|Thriller
37,439,5,8644,4.0,1163374426,"I, Robot (2004)",Action|Adventure|Sci-Fi|Thriller
39,407,5,3408,4.0,1163374137,Erin Brockovich (2000),Drama
45,424,5,5464,4.0,1163374443,Road to Perdition (2002),Crime|Drama
33,352,5,39,4.0,1163374952,Clueless (1995),Comedy|Romance
50,378,5,1307,4.0,1163374495,When Harry Met Sally... (1989),Comedy|Romance
51,434,5,6942,4.0,1163374511,Love Actually (2003),Comedy|Drama|Romance
61,384,5,1721,4.0,1163373744,Titanic (1997),Drama|Romance
53,359,5,356,4.0,1163374152,Forrest Gump (1994),Comedy|Drama|Romance|War
60,446,5,35836,4.0,1163374275,"40-Year-Old Virgin, The (2005)",Comedy|Romance
...,...,...,...,...,...,...,...
42,366,5,588,3.5,1163373551,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
44,382,5,1544,3.5,1163374562,"Lost World: Jurassic Park, The (1997)",Action|Adventure|Sci-Fi|Thriller
48,410,5,3948,3.5,1163374198,Meet the Parents (2000),Comedy
49,408,5,3753,3.5,1163373148,"Patriot, The (2000)",Action|Drama|War
41,427,5,5816,3.0,1163373688,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy
34,370,5,858,2.5,1163373651,"Godfather, The (1972)",Crime|Drama
11,433,5,6711,2.5,1163373238,Lost in Translation (2003),Comedy|Drama|Romance
0,376,5,1221,2.5,1163374239,"Godfather: Part II, The (1974)",Crime|Drama
52,391,5,2023,1.5,1163373188,"Godfather: Part III, The (1990)",Crime|Drama|Mystery|Thriller
79,436,5,8464,NaN,1163374381,Super Size Me (2004),Comedy|Documentary|Drama
80,428,5,5995,NaN,1163374533,"Pianist, The (2002)",Drama|War
81,374,5,1035,NaN,1163373103,"Sound of Music, The (1965)",Musical|Romance
82,417,5,4447,NaN,1163375033,Legally Blonde (2001),Comedy|Romance
83,425,5,5669,NaN,1163374206,Bowling for Columbine (2002),Documentary
84,375,5,1193,NaN,1163374173,One Flew Over the Cuckoo's Nest (1975),Drama
85,411,5,4014,NaN,1163373273,Chocolat (2000),Drama|Romance
86,414,5,4025,NaN,1163375145,Miss Congeniality (2000),Comedy|Crime
87,412,5,4018,NaN,1163375025,What Women Want (2000),Comedy|Romance
88,388,5,1961,NaN,1163373675,Rain Man (1988),Drama
89,390,5,1997,NaN,1163374593,"Exorcist, The (1973)",Horror|Mystery
90,400,5,2706,NaN,1163374246,American Pie (1999),Comedy|Romance
91,435,5,8376,NaN,1163374742,Napoleon Dynamite (2004),Comedy
92,363,5,440,NaN,1163374477,Dave (1993),Comedy|Romance
93,357,5,277,NaN,1163373208,Miracle on 34th Street (1994),Drama
94,448,5,41566,NaN,1163374144,"Chronicles of Narnia: The Lion, the Witch and ...",Adventure|Children|Fantasy
95,381,5,1485,NaN,1163374608,Liar Liar (1997),Comedy
96,419,5,4963,NaN,1163373548,Ocean's Eleven (2001),Crime|Thriller
97,432,5,6502,NaN,1163374455,28 Days Later (2002),Action|Horror|Sci-Fi
98,393,5,2273,NaN,1163373276,Rush Hour (1998),Action|Comedy|Crime|Thriller
99,355,5,150,NaN,1163374404,Apollo 13 (1995),Adventure|Drama|IMAX

In [29]:
sorted_user_predictions

movieId
364       3.196379
1721      2.397927
356       2.378139
6377      2.274791
500       2.271439
1580      2.190969
2762      2.188013
586       2.148766
588       2.113278
2355      2.036110
595       1.955655
3897      1.943147
4306      1.934364
4022      1.889624
1923      1.871909
2706      1.795730
34        1.781223
2081      1.773039
8961      1.749024
858       1.748840
3114      1.733657
1         1.679380
5989      1.673257
4995      1.660613
2396      1.628298
597       1.615787
39        1.614191
8360      1.605806
4246      1.561705
1968      1.495308
            ...
300      -0.365396
29       -0.378255
2021     -0.381467
750      -0.382454
1272     -0.382571
1320     -0.384824
91500    -0.386946
89745    -0.390620
112852   -0.398742
1198     -0.403069
79132    -0.403191
1235     -0.407573
122882   -0.414144
109487   -0.423959
534      -0.440795
96079    -0.446569
2019     -0.451117
1748     -0.454854
58559    -0.463813
99114    -0.478195
1095     -0.480608
2571     -0.491697
91529    -0.510600
2076     -0.535700
1199     -0.575035
541      -0.723117
260      -0.748145
32       -0.802273
1210     -0.826863
1196     -1.070044
Name: 4, Length: 9066, dtype: float64